/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  border: 3px solid white;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}
/* ---  Groups & Items --- */

.group img {
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}



/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

header nav ul li:last-child a {
  /* Removes the margin to the right of the last anchor tag 
     so that the nav appears centered. */
  margin-right: 0;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

form > div {
  display: flex;
  justify-content: space-between;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 80%;
  align-items: flex-end;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

.form-item {
  flex-direction: row;
  justify-content: space-between;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

/* desktop first approach = (the website was built initialy for desktop and will be adapted for mobiles)
Even if this approach requires more work in the long run, it is used often in order to develop and Minimum Voable Product with the least amount of initial investment
*/

/* acting like an IF statement, the media query is a set of conditions in which the containing css will be applied
for example the statament above says: IF the media on which this CSS is going to used is SCREEN (Mobiles, Tables, Laptops, Desktops or Projectors) and the maximum resolution of that device is 1024px, THEN apply the body color blue for all the text
*/

/*large desktop*/
/* @media only screen and (max-width: 1600px) {
  body {
    border: 3px solid yellow;
  }
} */

/*iPad lanscape / small laptop*/
/* @media only screen and (max-width: 1024px) {
  body {
    border: 3px solid blue;
  }
} */

/*iPad potrait*/
/* @media only screen and (max-width: 768px) {
  body {
    border: 3px solid red;
  }
} */

/*Android landscape*/
/* @media only screen and (max-width: 640px) {
  body {
    border: 3px solid pink;
  }
} */

/*iPhone landscape*/
/* @media only screen and (max-width: 480px) {
  body {
    border: 3px solid green;
  }
} */

/*iPhone portrait*/
/* @media only screen and (max-width: 320px) {
  body {
    border: 3px solid purple;
  }
} */

/* mobile first approach = (the website was built initialy for mobiles and it will be adapted for desktop)
This is the ideal way to built websites because it is much easier to adapt from a small screen and low computing power (mobiles) to a large screen and high computing power (desktops)
*/

/*iPhone portrait*/
/* @media only screen and (min-width: 320px) {
  body {
    border: 3px solid purple;
  }
} */

/*iPhone landscape*/
/* -------  Media Query ------- */

@media only screen and (min-width: 480px) {
  header {
    display: block;
    justify-content: space-between;
    padding: 0 30px;
  }

  header h1 {
    margin: 14px 0;
    padding-top: 0;
  }

  header nav {
    margin-top: 8px;
  }

  form {
    flex-direction: row;
    justify-content: space-between;
  }

  form select,
  form input {
    width: 100%;
  }

  .form-item {
    flex-direction: column;
  }

  .group {
    flex-direction: row;
    align-items: center;
  }
}

/*Android landscape*/
@media only screen and (min-width: 640px) {
  /* body {
    border: 3px solid pink;
  } */
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }
}

/*iPad potrait*/
/* @media only screen and (min-width: 768px) {
  body {
    border: 3px solid red;
  }
} */

/*iPad lanscape / small laptop*/
/* @media only screen and (min-width: 1024px) {
  body {
    border: 3px solid blue;
  }
} */

/*large desktop*/
/* @media only screen and (min-width: 1600px) {
  body {
    border: 3px solid yellow;
  }
} */